.register {
  margin: 50px 0;
  h3 {
    padding-bottom: 10px;
  }
  h4 {
    padding-bottom: 10px;
  }
  .form {
    padding: 50px 0;
    max-width: 700px;
    background-color: white;
    height: 460px;
    text-align: left;

    box-shadow: 0px 0px 9px 3px #888888;
    form {
    
      .items{
        display: flex;
        gap: 15px;
        justify-content: center;
        input{
            width: 240px;
        }
        .left .password{
            width: 200px;
        }
     
      }
      .button {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 19px;
      }
    }
  }
}
