.header__admin {
    .ant-input-affix-wrapper {
        width: 25%;
        height: 35px;
        margin-left: 20%;
    }
}

.ant-table-wrapper {
    .ant-table-thead {
        tr {
            height: 80px;
            max-height: 80px;
            min-height: 80px;

            th {
                text-align: center;
                border: 1px solid #dee2e6;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }

    .ant-table-tbody {
        tr {
            width: 100%;
            font-weight: 600;
            font-size: 16px;

            td {
                border: 1px solid #dee2e6;
                text-align: center;
            }

            .Stt {
                width: 7%;
            }

            .taiKhoan {
                width: 17%;
            }

            .maLoaiNguoiDung {
                width: 10%;
            }

            .hoTen {
                width: 15%;
            }

            .email {
                width: 20%;
            }

            .soDt {
                width: 10%;
            }

            .chucNang {
                width: 21%;

                .repair {
                    transition: all .3s;
                    margin-right: 5px;
                    font-weight: 600;
                    background-color: green;
                    color: white;


                    &:hover {
                        background-color: rgb(3, 103, 3) !important;
                        color: white;
                    }


                }

                .delete {
                    color: white;
                    transition: all .3s;
                    margin-right: 5px;
                    font-weight: 600;
                }
            }
        }
    }
}