.layoutMain {
    .site-layout {
        width: auto !important;
    }
}

.ant-menu {
    .ant-menu-item {
        :nth-child(1) {
            height: 50px;
        }

        span {
            font-size: 15px !important;
            font-weight: 600;
        }

        i {
            // padding-left: 50px;
            font-size: 25px !important;
            cursor: pointer;
            text-align: center;
            color: white;
            border-radius: 20%;
            transition: all .3s;

        }
    }

}

.iphone6plus {
    .ant-layout-sider-dark {
        width: 100px !important;
        min-width: 100px !important;
        max-width: 100px !important;
    }

    .ant-layout-sider-trigger {
        width: 99px;
        min-width: 99px;
        max-width: 99px;
    }
}

.mobile {
    .ant-layout-sider-dark {
        width: 100px !important;
        min-width: 100px !important;
        max-width: 100px !important;
    }

    .ant-layout-sider-trigger {
        width: 99px;
        min-width: 99px;
        max-width: 99px;
    }
}

.tablet {
    .ant-layout-sider-dark {
        width: 100px !important;
        min-width: 100px !important;
        max-width: 100px !important;
    }

    .ant-layout-sider-trigger {
        width: 99px;
        min-width: 99px;
        max-width: 99px;
    }
}

.laptop {
    .ant-layout-sider-dark {
        width: 100px !important;
        min-width: 100px !important;
        max-width: 100px !important;
    }

    .ant-layout-sider-trigger {
        width: 99px;
        min-width: 99px;
        max-width: 99px;
    }
}