.header {
  padding: 0.5rem 2.5rem !important;
  img {
    width: 247px;
    height: 76px;
  }
  .collapse {
    form {
      .search {
        position: relative;
        width: 45px;
        height: 45px;
        border-radius: 60px;
        background-color: #bae8e8;
        transition: 0.5s;
        box-shadow: 0 0 0 5px #bae8e8;
        overflow: hidden;
        &.active {
          width: 360px;
        }
        .icon {
          position: absolute;
          top: 11px;
          left: 13px;
          background-color: #bae8e8;
          color: #272343;
          font-size: 18px;
          cursor: pointer;
          z-index: 1000;
        }
        .input {
          position: relative;
          width: 300px;
          height: 48px;
          left: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border: none;
            background-color: #bae8e8;
            font-size: 18px;
            padding: 10px 0;
            &:focus {
              outline: none;
            }
          }
        }
        .clear {
          position: absolute;
          top: 40%;
          right: 17px;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          cursor: pointer;
        }
      }
    }
  }
  ul {
    li {
      a {
        font-weight: 500;
        font-size: 18px;
      }
      .courseCatalog {
        background-color: rgba(1, 135, 126, 0.5);
        li {
          a {
            transition: all 0.4s;
            &:hover {
              background-color: transparent;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .userInfo {
    position: relative;
    width: 100px;
    height: 50px;
    &:hover button{
      transform: translateX(51px);
      z-index: 0;
      opacity: 1;
    }
    img {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
    button{
      position: absolute;
      top: 7px;
      left: 0;
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      transition: all 1.1s;
      transform: translateX(0);
      opacity: 0;
      z-index: -1;
    }
  }
}
